/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
	display: grid;
	width: 100vw;
	color: white;
}

nav {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(7, 1fr);
	background: #666;
	padding: 20px 0;
}

.nav-item {
	display: grid;
	justify-items: center;
	align-content: center;
}


.nav-item > * {
	margin: 10px;
}

.logo {
	height: 50px;
	width: 50px;
	background: #ccc;
}

.search {
	height: 50px;
	width: 100px;
	background: #999;
}
.nav-icon {
	height: 40px;
	width: 40px;
	background: #999;
}

.nav-title {
	height: 30px;
	width: 90px;
	background: #ccc;
}

.nav-subtitle {
	height: 15px;
	width: 120px;
	background: #999;
}

.articles {
	display: grid;
	grid-template: 5fr 4fr / 1fr 1fr;
	position: relative;
}

.articles-header {
	position: absolute;
	top: 50px;
	right: 50px;
	display: grid;
	justify-items: right;
	grid-auto-flow: column;
	height: 100px;
	background: transparent;
}

.dont-miss {
	background: white;
	width: 200px;
	height: 70px;
}

.red-button {
	height: 50px;
	width: 150px;
	background: #999;
	margin-left: 260px;
}
.article {
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 100px 200px 1fr;
	align-items: center;
	padding: 10%;
	background: #555555;
}

.article1 {
	padding-top: 200px;
}

.article2 {
	background: #5a5a5a;
	padding-top: 200px;
}

.article3 {
	background: #505050;
}

.byline {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-items: left;
}

.author-img {
	height: 60px;
	width: 60px;
	background: #999;
}

.author {
	height: 20px;
	width: 200px;
	background: #999;
}

.article-title {
	width: 90%;
	height: 120px;
	background: #aaa;
}

.article-tag {
	height: 15px;
	width: 60px;
	background: #999;
	display: inline-block;
	margin-right: 30px;
}

.posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}

.post {
	padding: 50px;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: left;
	grid-gap: 25px;

}

.post-date {
	height: 15px;
	width: 80px;
	background: #999;
}

.post-title {
	height: 80px;
	width: 80%;
	background: #444;
}

.post-author {
	height: 20px;
	width: 120px;
	background: #666;
}

.post-summary {
	height: 150px;
	width: 100%;
	background: #999;
	margin-bottom: 200px;
}

.feature {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	grid-gap: 30px;
	background: #666;
	padding: 30px;
	grid-column: auto / span 2;
}

.feature-img {
	height: 200px;
	width: 200px;
	background: #444;
}

.feature-title {
	height: 80px;
	width: 270px;
	background: #ccc;
}

.feature-summary {
	height: 150px;
	width: 50%;
	background: #888;
}

.feature-button {
	height: 60px;
	width: 170px;
	background: white;
}

.sign-in {
	height: 15px;
	width: 150px;
	background: #888;
}

.see-all {
	margin: 80px auto;
	height: 25px;
	width: 150px;
	background: #999;
	grid-column: 1 / -1;
}

.conference {
	background: #444;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	grid-gap: 30px;
	padding: 30px;
}

.conf-dates {
	height: 15px;
	width: 270px;
	background: #aaa;
}

.conf-title {
	height: 60px;
	width: 55%;
	background: #ddd;
}

.conf-summary {
	height: 150px;
	width: 50%;
	background: #888;
}

.conf-button {
	height: 70px;
	width: 250px;
	background: white;
}

.conf-img {
	height: 500px;
	width: 75%;
	background: #777;
}

.pow {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 15px 1fr;
	grid-gap: 20px;
	padding: 60px;
	height: 300px;
}

.pow-img {
	background: #aaa;
	justify-self: center;
	grid-row: 1 / -1;
	height: 200px;
	width: 200px;
}

.pow-name {
	height: 15px;
	width: 200px;
	background: #ccc;
}

.pow p {
	background: #ccc;
}

.shares {
	display: grid;
	grid-template-columns: 50% 1fr;
	grid-gap: 100px 20px;
	padding: 50px;
}

.share {
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-gap: 20px;
}

.sharer-img {
	grid-row: 1 / -1;
	height: 50px;
	width: 50px;
	background: #666;
	align-self: top;
}

.sharer {
	height: 20px;
	width: 60%;
	background: #666;
	grid-column: 2 / -1;
}

.share-title {
	height: 50px;
	width: 90%;
	background: #444;
	grid-column: 2 / -1;
}

.share-summary {
	height: 120px;
	width: 100%;
	background: #aaa;
	grid-column: 2 / -1;
}